<a 
  style="cursor: pointer;"
  class="list-group-item clearfix news"
  [routerLink]="['/news', newsItem.Id ]" >    
    <div class="pull-left">
        <h4 class="list-group-item-title">{{ newsItem.Title }}</h4>
        <p class="list-group-item-header">{{ newsItem.Header }}</p>
    </div>
    <div class="date-created">
        {{ newsItem.DateCreated | date: 'MMMM d, y'}}
    </div>
</a>