.news-row{
    marging: 0.3em 0 0.3em 0;
}

h4.list-group-item-title {
    font-size: 2.2em;
    font-weight: 700;
}

p.list-group-item-header {
    font-size: 1.4em;
}

.news {
    opacity: 0.8;
}

h4, p {
    color: #555;
}

.date-created{
    text-align: right;
}