body { 
    background: url('/images/background.jpg') center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height:100%;
    height: 100vh;
    background-size: cover;    
}
