<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
            <app-news-list-item 
              *ngFor="let news of NewsArray; let i = index "
              [newsItem]="news"
              class="news-row">
            </app-news-list-item>
        </ul>
      </div>
  </div>
</div>