.list-group-item-title{
    
}

.list-group-item-header{
    margin-top: 1.5em;
}

.list-group-item-body{
    margin-top: 1.5em;    
}

.list-group-item {
    opacity: 0.8;
    margin-bottom: 5em;
}