<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
            <div class="list-group-item clearfix">
              <h2 class="list-group-item-title text-secondar">{{ currentNews.Title }}</h2>
              <h4 class="list-group-item-header text-secondar">{{ currentNews.Header }}</h4>
              <div 
                class="list-group-item-body" 
                [innerHTML]="currentNews.Body">
              </div>
            </div>         
        </ul>
      </div>
  </div>
</div>