<div class="container">
  <div class="row signin-offset">
    <div class="col-md-12 col-md-offset-2">\      
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="dont-work">Эта секция пока не работает.</div>
          <div class="form-group">
              <label for="email">Электронная почта</label>
              <input
                      type="email"
                      id="email"
                      class="form-control"
                      formControlName="email">
          </div>
          <div class="form-group">
              <label for="password">Пароль</label>
              <input
                      type="password"
                      id="password"
                      class="form-control"
                      formControlName="password">
          </div>
          <button
                  class="btn btn-primary float-right"
                  type="submit"
                  [disabled]="!myForm.valid">Войти</button>
      </form>
    </div>
  </div>
</div>