<div class="container">
    <div class="row step-top">
        <div class="col-xs-12">
            <div class="main-header">
                <!-- TODO: insert here something interesting, like a carousel -->
            </div>
        </div>
    </div>
</div>
