<nav class="navbar navbar-expand-lg bg-dark  navbar-dark">
    <a class="navbar-brand" routerLink="/">Таганрог, Нестерова 25</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="exCollapsingNavbar"> 
        <ul  class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/specific-chat">Актуальные вопросы</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/common-chat">Общий чат</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/signup">Регистрация</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/signin">Вход</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/signout">Выход</a>
            </li>
        </ul>
    </div>
  </nav>