label{
    color: white;
    font-size: 200%;
    text-shadow: 0px 0px 2px #4d2d4d, 0px 5px 10px #c6cabe;
}

.bottom-offset {
    margin-bottom: 3em;
}

.dont-work{
    font-size: 250%;
    color: red;
    text-shadow: 0px 0px 2px #4d2d4d, 0px 5px 10px #c6cabe;
    margin-left: 20%;
}