<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
         <div class="dont-work">Эта секция пока не работает.</div>
          <div class="form-group">
              <label for="lastName">Фамилия</label>
              <input
                      type="text"
                      id="lastName"
                      class="form-control"
                      formControlName="lastName">
          </div>
          <div class="form-group">
              <label for="firstName">Имя</label>
              <input
                      type="text"
                      id="firstName"
                      class="form-control"
                      formControlName="firstName">
          </div>
          <div class="form-group">
            <label for="fatherName">Отчество</label>
            <input
                    type="text"
                    id="fatherName"
                    class="form-control"
                    formControlName="fatherName">
          </div>
          <div class="form-group">
              <label for="flatNumber">Номер квартиры</label>
              <input
                      type="number"
                      min="1"
                      max="147"
                      id="flatNumber"
                      class="form-control"
                      formControlName="flatNumber">
          </div>  
          <div class="form-group">
              <label for="phone">Телефон</label>
              <input
                      type="text"
                      id="phone"
                      class="form-control"
                      formControlName="phone">
          </div>          
          <div class="form-group">
              <label for="email">Электронная почта</label>
              <input
                      type="email"
                      id="email"
                      class="form-control"
                      formControlName="email">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input
                      type="password"
                      id="password"
                      class="form-control"
                      formControlName="password">
          </div>
          <button
                  class="btn btn-primary bottom-offset float-right"
                  type="submit"
                  [disabled]="!myForm.valid">Сохранить</button>
      </form>
    </div>
  </div>
</div>